.wiki-center, #loadingSpinner {
  text-align: center;
  width: 50%;
  border: none;
  margin: auto;
  padding-bottom: 20px;
}

.form-control::placeholder {
  font-style: italic;
}

.form-control::-moz-placeholder {
  font-style: italic;
}

.form-control::-webkit-input-placeholder {
  font-style: italic;
}

.md-form.mt-0{
  display:flex;
  align-items: center;  
}

.searchIcon{
  position: absolute;
  z-index: 1;
  border: none;
  padding: 10px;
  margin-left: 13px;
  background: no-repeat center url(https://en.wikipedia.org/w/skins/Vector/resources/skins.vector.styles/images/search.svg?cd211);
  opacity: 0.67;
}

.searchIcon:hover {
  background-color: darkgrey;
}

.searchIcon + input{
  padding-left: 40px;
}

#historyListLabel:hover {
  border-bottom: 1px solid black;
}

#historyListToggle {
  margin-left: 5px;
  margin-bottom: 3px;
}