.wiki-center, #loadingSpinner {
  text-align: center;
  width: 50%;
  border: none;
  margin: auto;
  padding-bottom: 20px;
}

.form-control::placeholder {
  font-style: italic;
}

.form-control::-moz-placeholder {
  font-style: italic;
}

.form-control::-webkit-input-placeholder {
  font-style: italic;
}

.md-form.mt-0{
  display:flex;
  align-items: center;  
}

.searchIcon{
  position: absolute;
  z-index: 1;
  border: none;
  padding: 10px;
  margin-left: 13px;
  background: no-repeat center url(https://en.wikipedia.org/w/skins/Vector/resources/skins.vector.styles/images/search.svg?cd211);
  opacity: 0.67;
}

.searchIcon:hover {
  background-color: darkgrey;
}

.searchIcon + input{
  padding-left: 40px;
}

#historyListLabel:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

#historyListToggle {
  margin-left: 5px;
  margin-bottom: 3px;
}

#topicSearchDropdown {
  display: block;
}

#newGameButton {
  display: block;
  margin: 17px auto 0px auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#shareableLinkButton {
  display: inline-flex;
  margin: 15px auto;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #0000EE;
}

#shareableLinkButton:hover {
  border-bottom: 1px solid #0000EE;
  cursor: pointer;
}

#copied {
  margin: 5px 0px 0px 5px;
}

.goodTopic {
  background-color: #99ff99;
}

.goodTopic:focus {
  background-color: #99ff99;
}

.badTopic {
  background-color: #ff9999;
}

.badTopic:focus {
  background-color: #ff9999;
}

#followingElements {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 30px;
}

#backToTopButton {
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#backToTopButton:hover {
  background-color: #555;
}

#followClickCounter {
  text-align: center;
  border: 1.5px solid gray;
  background-color: #fcfcfc;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
}

#followClickCounter:hover {
  cursor: auto;
}

#currentTargetLabel {
  margin: 19px auto;
}

@media (max-width: 768px) {
  #newGameSection {
      height:150px;
  }

  #shareableLinkButton {
    margin: -10px 0px 0px -30px;
  }
} 

@media (max-width: 575px) {
  #shareableLinkButton {
    margin: 0px;
  }
}

.fill-height {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#randomTopicButton {
  margin-left: 10px;
  background-color: white;
}

#randomTopicButton:hover {
  margin-left: 10px;
  background-color: gray;
  color: white;
}
