.wiki-center {
  text-align: center;
  width: 50%;
  margin: 20px 300px 0px;
}

.form-control::placeholder {
  font-style: italic;
}

.form-control::-moz-placeholder {
  font-style: italic;
}

.form-control::-webkit-input-placeholder {
  font-style: italic;
}

#game {
  border: 1px solid darkgrey;
  padding: 20px;
  border-radius: 7px;
}